<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>start</key>
	<array>
		<string>崇祯元年3月，澄城县令为收春赋，坐堂逼粮</string>
		<string>郑彦夫夜拜观音，聚六村穷丁，杀官造反</string>
		<string>山西巡抚报闻，并令千户杨洪率军剿匪</string>
		<string>杨洪先破贼众，再克山寨，计除匪首郑彦夫</string>
		<string>澄城遂平，然，民心不定，朝中人人惜羽</string>
		<string>竟无人赴任县令，乃令杨洪手下百户暂代之</string>
		<string>好的这就是背景</string>
		<string>百户大人，游戏开始了</string>
	</array>
	<key>farmer1</key>
	<array>
		<string>李自成    银川驿卒</string>
		<string>驿站精简，李自成被裁撤，来投叔父高迎祥</string>
		<string>恰好澄城如今荒地无数，高迎祥购地与之</string>
		<string>他现在是个农夫</string>
		<string>他现在家徒四壁</string>
		<string>点击与之对话</string>
	</array>
	<key>farmer2</key>
	<array>
		<string>高迎祥    贩马为业</string>
		<string>离籍贯百里需持路引，高迎祥手中路引到期</string>
		<string>然县令已死，无人再能开具路引</string>
		<string>高迎祥只得设法转籍为民，种田度日</string>
		<string>为了帮侄儿李自成置田，高迎祥耗尽积蓄</string>
		<string>他现在是个农夫</string>
		<string>他现在家徒四壁</string>
		<string>点击与之对话</string>
	</array>
	<key>farmer3</key>
	<array>
		<string>马守应    回族边兵</string>
		<string>因无完备之兵甲，无饱腹之粮米，怒而逃营</string>
		<string>身无路引，被捕下狱，适逢起义，侥幸得活</string>
		<string>叛乱中抢得一点金银，在这里买田安家</string>
		<string>他现在是个农夫</string>
		<string>他现在家徒四壁</string>
		<string>点击与之对话</string>
	</array>
	<key>farmer4</key>
	<array>
		<string>贺一龙    澄城农夫</string>
		<string>去年大旱，颗粒无收，典尽家当才交齐春赋</string>
		<string>他现在是个农夫</string>
		<string>他现在家徒四壁</string>
		<string>点击与之对话</string>
	</array>
	<key>shopkeeper</key>
	<array>
		<string>罗汝才    米行秦商</string>
		<string>原本经营米粮买卖的商人，黑白通吃</string>
		<string>在起义中被抢光了所有钱财</string>
		<string>现在白手起家，什么买卖都做</string>
		<string>他现在是个掌柜</string>
		<string>他现在家徒四壁</string>
		<string>点击与之对话</string>
	</array>
	<key>carpenter</key>
	<array>
		<string>张献忠    澄城木匠</string>
		<string>身长瘦而面微黄，须一尺六寸，僄劲果侠</string>
		<string>为脱离匠籍，曾尽家资读书以求高中，然并</string>
		<string>他现在是个木匠</string>
		<string>他现在家徒四壁</string>
		<string>点击与之对话</string>
	</array>
	<key>ironsmith</key>
	<array>
		<string>王二       白水铁匠</string>
		<string>广额阔面，为人处事深受《水浒传》影响</string>
		<string>起义前，不忍饿殍遍地，便已散尽家财</string>
		<string>他现在是个铁匠</string>
		<string>他现在家徒四壁</string>
		<string>点击与之对话</string>
	</array>
	<key>end0</key>
	<array>
		<string>大明百户大人失足坠入河中，时陕西大旱</string>
		<string>河里没有多少水，于是百户一头撞上了河底大石</string>
		<string>第二天尸体被发现</string>
		<string></string>
		<string>游戏结束</string>
	</array>
	<key>end1</key>
	<array>
		<string>与其饥而死，不如盗而死</string>
		<string>百户被李自成乘夜袭杀</string>
		<string>李自成自号闯将，均田免粮，杀官造反</string>
		<string>游戏结束</string>
	</array>
	<key>end2</key>
	<array>
		<string>与其饥而死，不如盗而死</string>
		<string>百户被高迎祥抓去祭旗</string>
		<string>高迎祥自号闯王，聚集马匪，杀官造反</string>
		<string>游戏结束</string>
	</array>
	<key>end3</key>
	<array>
		<string>与其饥而死，不如盗而死</string>
		<string>百户被马守应当众格杀</string>
		<string>马守应自号老回回，开仓散粮，杀官造反</string>
		<string>游戏结束</string>
	</array>
	<key>end4</key>
	<array>
		<string>与其饥而死，不如盗而死</string>
		<string>百户被贺一龙乱石砸死</string>
		<string>贺一龙自号革里眼，替天行道，杀官造反</string>
		<string>游戏结束</string>
	</array>
	<key>end5</key>
	<array>
		<string>人为财死，我为色亡，命在旦夕，不得不反</string>
		<string>百户被罗汝才下药毒杀，妻为所占</string>
		<string>罗汝才自号曹操，为活下去与抢老婆，造反</string>
		<string>游戏结束</string>
	</array>
	<key>end6</key>
	<array>
		<string>天生万物与人，人无一物与天，杀杀杀</string>
		<string>百户被张献忠乱刀分尸</string>
		<string>张献忠自号八大王，通令全城，杀官造反</string>
		<string>游戏结束</string>
	</array>
	<key>end7</key>
	<array>
		<string>官逼民反</string>
		<string>百户被王二铁锤击杀</string>
		<string>王二于澄城立寨，称梁山，陕西好汉齐反</string>
		<string>游戏结束</string>
	</array>
</dict>
</plist>
