<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>position</key>
	<dict>
		<key>x</key>
		<real>-1656</real>
		<key>y</key>
		<integer>-779</integer>
	</dict>
	<key>time</key>
	<dict>
		<key>year</key>
		<real>1628</real>
		<key>month</key>
		<integer>4</integer>
		<key>day</key>
		<integer>10</integer>
		<key>hour</key>
		<integer>9</integer>
	</dict>
	<key>good</key>
	<dict>
		<key>iron</key>
		<integer>100</integer>
		<key>silver</key>
		<integer>100</integer>
		<key>wood</key>
		<integer>100</integer>
		<key>food</key>
		<integer>100</integer>
	</dict>
	<key>task</key>
	<dict>
		<key>tid</key>
		<integer>0</integer>
		<key>progress</key>
		<integer>0</integer>
	</dict>
	<key>introNpc</key>
	<dict>
		<key>1</key>
		<integer>0</integer>
		<key>2</key>
		<integer>0</integer>
		<key>3</key>
		<integer>0</integer>
		<key>4</key>
		<integer>0</integer>
		<key>5</key>
		<integer>0</integer>
		<key>6</key>
		<integer>0</integer>
		<key>7</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
