<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>01</key>
	<string>小民见过大人</string>
	<key>02</key>
	<string>小民见过大人</string>
	<key>03</key>
	<string>小民见过大人</string>
	<key>04</key>
	<string>小民见过大人</string>
	<key>05</key>
	<string>小民见过大人</string>
	<key>06</key>
	<string>小民见过大人</string>
	<key>07</key>
	<string>小民见过大人</string>
	<key>21</key>
	<string>唉，天太旱了</string>
	<key>22</key>
	<string>苦的总是老百姓啊</string>
	<key>23</key>
	<string>快点下雨吧</string>
	<key>24</key>
	<string>日子总还要过下去</string>
	<key>25</key>
	<string>嗨，买卖又得停一停</string>
	<key>26</key>
	<string>希望不要影响到这里</string>
	<key>27</key>
	<string>大人，我去挖矿了</string>
	<key>35</key>
	<string>静候大人佳音</string>
	<key>16</key>
	<string>多谢大人援手</string>
	<key>47</key>
	<string>得亏大人出手相助</string>
	<key>99</key>
	<string>多谢大人！</string>
	<key>00</key>
	<string>大人有事？</string>
</dict>
</plist>
